---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"

import Skills from "@/components/Skills.astro"
import Brands from "@/components/Brands.astro"
---

<Layout
  title="Portafolio de Brandon - Desarrollador y Programador Web"
  description="Conoce mi experiencia laboral, proyectos y más sobre mí. Soy Brandon Romero Zavala, Ingeniero de Software y Creador de Contenido."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <!-- Nueva sección Habilidades -->
      <SectionContainer id="habilidades">
        <TitleSection>
          <CodeIcon class="size-7" />
          Habilidades Técnicas
        </TitleSection>
        <Skills />
      </SectionContainer>

      <!-- Nueva sección Marcas -->
      <SectionContainer id="marcas">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Colaboraciones y Marcas
        </TitleSection>
        <Brands />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
