---
const personalImageAlt = "Brandon Romero Zavala - Ingeniero en Software y Creador de Contenido";
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4 items-center">
    <img
      class="rounded-full shadow-lg w-16 h-16 object-cover object-top"
      src="/devbran.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/brandon-romero-zavala-8247a6267/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para colaborar</Badge>
    </a>
  </div>

  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Brandon Romero Zavala
  </h1>

  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-600 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    <strong>Ingeniero en Software</strong> con +3 años de experiencia.<br />
    Desarrollo sitios web y creo contenido sobre tecnología en <strong>YouTube</strong> y redes sociales. 🚀🎥
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:romerozavalabrandon@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/brandon-romero-zavala-8247a6267/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="/Cv%20BrandonRomeroZ.pdf" download="Cv BrandonRomeroZ.pdf">
      Descargar CV
    </SocialPill>
  </nav>
</div>
